* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #6E3CBC, #3498db);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #aaa;
    transition: 0.3s;
    width: 30%;
    height: 50%;
    background-color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    background: none;
    outline: none;
    font-size: 16px;
    color: #333;
}

input:focus~label,
input:valid~label {
    top: -14px;
    left: 0;
    color: #3498db;
    font-size: 12px;
    background-color: transparent;
    /* height: 20%; */
}

input:focus {
    border-color: #3498db;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

.btn:active {
    transform: scale(0.98);
}

.error,
.success {
    color: red;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 20px;
    display: none;
}

.success {
    color: rgb(255, 196, 0);
    font-size: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}

.entries {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}